<div class="main-pages-wrapper">
    <app-header></app-header>
    <main>
        <app-landing-section></app-landing-section>
        <div #animateElement class="animate-on-scroll">
            <app-my-story id="aboutMe"></app-my-story>
        </div>
        <div #animateElement class="animate-on-scroll">
            <app-skills id="skills"></app-skills>
        </div>
        <div #animateElement class="animate-on-scroll">
            <app-projects></app-projects>
            <app-reference></app-reference>
        </div>
        <div #animateElement class="animate-on-scroll">
           
        </div>
        <div #animateElement class="animate-on-scroll">
            <app-contact></app-contact>
        </div>
    </main>
    <app-footer></app-footer>
</div>