<div class="page">
    <app-header></app-header>


    <div class="impressum">
        <h2>{{"privarcy.policy" | translate}}</h2>
        <p>Davlatyor Bekchanov</p>
        <p>Wettingerstr.12</p>
        <p>89407 Dillngen an der Donau</p>
        <h2>{{"privarcy.contact" | translate}}</h2>
        <p>Telefon: +49 1775524507</p>
        <p>davlatyor.bekchanov&#64;gmail.com</p>
        <h2>{{"privarcy.accountability" | translate}}</h2>
        <p>Davlatyor Bekchanov</p>
        <p>Source https://www.e-recht24.de</p>
    </div>


    <app-footer></app-footer>
</div>