
<div (click)="closeDialog($event, true)" class="dialog-overlay">
    <div (click)="closeDialog($event, false)" class="dialog-container">
        <div class="dialog-left">
            <h2>{{ projectData?.projectNumber }}</h2>
            <p class="project-title">{{ projectData?.projectName }}</p>
            <p class="project-summary">{{ 'popup.what' | translate }}</p>
            <p class="project-description">{{ ('popup.description' + projectData?.projectNumber) | translate }}</p>

            <div class="project-tech-list">
                @for(tech of projectData?.technologyUsed; track tech) {
                <div>
                    <img src="{{ tech.technologyImg }}" alt="" />
                </div>
                }
            </div>

            <div class="project-links">
                <button>
                    <a href="{{ projectData?.githubLink }}">GitHub</a>
                    <!-- svg -->
                </button>
                <button>
                    <a href="{{ projectData?.projectLink }}">LiveTest</a>
                    <!-- svg -->
                </button>
            </div>

            <div (click)="goToNextProject()" class="next-project-btn-mobile">
                <p>{{ 'popup.nextProject' | translate }}</p>
                <!-- svg -->
            </div>
        </div>

        <div class="dialog-right">
            <div (click)="closeDialog($event, true)" class="close-btn">
                <img src="assets/img/close_small.png" alt="Close" />
            </div>
            <img [src]="projectData?.imgProject" alt="Project Image" />
            <div (click)="goToNextProject()" class="next-project-btn">
                <p>{{ 'popup.nextProject' | translate }}</p>
                <!-- svg -->
            </div>
        </div>
    </div>
</div>