<div class="page">
    <app-header></app-header>


    <div class="data-privarcy">
        <h1>{{ 'data-privarcy.privacyTitle' | translate }}</h1>
        <h2>{{ 'data-privarcy.privacySection1' | translate }}</h2>
        <h3>{{ 'data-privarcy.generalInfo' | translate }}</h3>
        <p>{{ 'data-privarcy.generalInfoText' | translate }}</p>
        <h3>{{ 'data-privarcy.dataCollection' | translate }}</h3>
        <h4>{{ 'data-privarcy.dataController' | translate }}</h4>
        <p>{{ 'data-privarcy.dataControllerText' | translate }}</p>
        <h4>{{ 'data-privarcy.howWeCollect' | translate }}</h4>
        <p>{{ 'data-privarcy.howWeCollectText1' | translate }}</p>
        <p>{{ 'data-privarcy.howWeCollectText2' | translate }}</p>
        <h4>{{ 'data-privarcy.dataUsage' | translate }}</h4>
        <p>{{ 'data-privarcy.dataUsageText' | translate }}</p>
        <h4>{{ 'data-privarcy.yourRights' | translate }}</h4>
        <p>{{ 'data-privarcy.yourRightsText' | translate }}</p>
        <h2>{{ 'data-privarcy.privacySection2' | translate }}</h2>
        <h3>{{ 'data-privarcy.externalHosting' | translate }}</h3>
        <p>{{ 'data-privarcy.externalHostingText1' | translate }}</p>
        <p>{{ 'data-privarcy.externalHostingText2' | translate }}</p>
        <p>{{ 'data-privarcy.externalHostingText3' | translate }}</p>
        <p>{{ 'data-privarcy.externalHostingText4' | translate }}</p>
        <h2>{{ 'data-privarcy.privacySection3' | translate }}</h2>
        <h3>{{ 'data-privarcy.dataProtection' | translate }}</h3>
        <p>{{ 'data-privarcy.dataProtectionText1' | translate }}</p>
        <p>{{ 'data-privarcy.dataProtectionText2' | translate }}</p>
        <p>{{ 'data-privarcy.dataProtectionText3' | translate }}</p>
        <p>{{ 'data-privarcy.dataProtectionText4' | translate }}</p>
        <h3>{{ 'data-privarcy.responsibleParty' | translate }}</h3>
        <p>{{ 'data-privarcy.responsiblePartyText1' | translate }}</p>
        <p>{{ 'data-privarcy.responsiblePartyText2' | translate }}</p>
        <p>{{ 'data-privarcy.phone' | translate }}</p>
        <p>{{ 'data-privarcy.email' | translate }}</p>
        <p>{{ 'data-privarcy.responsiblePartyText3' | translate }}</p>
        <h3>{{ 'data-privarcy.storageDuration' | translate }}</h3>
        <p>{{ 'data-privarcy.storageDurationText' | translate }}</p>
        <h3>{{ 'data-privarcy.legalBasis' | translate }}</h3>
        <section>
            <p>{{ 'data-privarcy.legalBasisText' | translate }}</p>
        </section>
        <section>
            <h4>{{ 'data-privarcy.recipients' | translate }}</h4>
            <p>{{ 'data-privarcy.recipientsText' | translate }}</p>
        </section>
        <section>
            <h4>{{ 'data-privarcy.revokeConsent' | translate }}</h4>
            <p>{{ 'data-privarcy.revokeConsentText' | translate }}</p>
        </section>
        <section>
            <h4>{{ 'data-privarcy.objectRight' | translate }}</h4>
            <p>{{ 'data-privarcy.objectRightText1' | translate }}</p>
            <p>{{ 'data-privarcy.objectRightText2' | translate }}</p>
        </section>
        <section>
            <h4>{{ 'data-privarcy.complaintRight' | translate }}</h4>
            <p>{{ 'data-privarcy.complaintRightText' | translate }}</p>
        </section>
        <section>
            <h4>{{ 'data-privarcy.dataPortability' | translate }}</h4>
            <p>{{ 'data-privarcy.dataPortabilityText' | translate }}</p>
        </section>
        <section>
            <h4>{{ 'data-privarcy.accessRectification' | translate }}</h4>
            <p>{{ 'data-privarcy.accessRectificationText' | translate }}</p>
        </section>
        <section>
            <h4>{{ 'data-privarcy.restrictionRight' | translate }}</h4>
            <p>{{ 'data-privarcy.restrictionRightText1' | translate }}</p>
            <ul>
                <li>{{ 'data-privarcy.restrictionRightCase1' | translate }}</li>
                <li>{{ 'data-privarcy.restrictionRightCase2' | translate }}</li>
                <li>{{ 'data-privarcy.restrictionRightCase3' | translate }}</li>
                <li>{{ 'data-privarcy.restrictionRightCase4' | translate }}</li>
            </ul>
            <p>{{ 'data-privarcy.restrictionRightText2' | translate }}</p>
        </section>
        <footer>
            <p>Source: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a></p>
        </footer>
    </div>

    <app-footer></app-footer>
</div>
