<div id="aboutMe" class="my-story">
    <div class="photo-self">

        <img class="capa-img" src="assets/img/Capa_1.png" alt="">
        <img class="port-foto" src="assets/img/port.webp" alt="">


    </div>

    <div class="about-container">
        <p class="who">{{"mystory.iam" | translate}}</p>
        <div class="about-me">
            <h2>{{ "mystory.aboutme" | translate}}</h2>
            <p>{{"mystory.germanspeak" | translate }}</p>
            <div class="about-sections">
                <img src="assets/img/location.svg" alt="">
                <p>{{ "mystory.workFlexi" | translate}}</p>
            </div>
            <div class="about-sections">
                <img src="assets/img/cognition.svg" alt="">
                <p> {{"mystory.mindset" | translate}} </p>
              
            </div>
            <div class="about-sections">
                <img src="assets/img/quality.svg" alt="">
                <p> {{"mystory.quality" | translate}} </p>
            </div>
        </div>
    </div>
</div>