<div class="footer-container">
    <div class="developer">
        <p>Davlatyor Bekchanov</p>
        <p>Web Developer</p>
        <p>Dillingen, Germany</p>
    </div>
    <p style="color: #3dcfb6; font-family: 'Fira Code'; ">© Davlatyor Bekchanov</p>
    <div class="container-links">
        <ul>
            <li>
                <a href="https://github.com/DavlatyorBekchanov">Github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com">LinkedIn</a>
            </li>
            <li>
                <a>Email</a>
            </li>
            <li><a routerLink="/privarcy-policy" rel="noopener noreferrer">{{ 'footer.legal' | translate }}</a></li>
        </ul>





    </div>








</div>